.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    color: black;
    width: 30%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border: 5px solid black;
    border-radius: 10px;
    padding: 5rem;
}

.formItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
}

.button{
    font-weight: bolder;
    background-color: lightgreen;
    color: black;
    border: 1px solid green;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    background-color: #f8d7da;
    border: 3px solid red;
    padding: 1rem;
    border-radius: 5px;
}
