.textContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    color: white;
    padding: 2rem;
}

.recentPost {
    margin-top: 1rem;
    border: 5px solid #000;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: black;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    width: 55%;
}

.postContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
