.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    gap: 1rem;
    border: 5px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    font-size: larger;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formItem input, .formItem textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.button {
    width: auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.titleContainer {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.date {
    margin-left: auto;
    margin-right: 1rem;
    font-size: 0.8rem;
    color: #333;
}

.postButton {
    color: black;
    border: none;
    font-size: 1rem;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 2px solid black;
}

.post {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.6;
    color: #333;
    border-radius: 5px;
    padding: 1rem;
}

.post {
    margin-bottom: 1.5rem;
    white-space: pre-line;
}

.postContainer {
    border-bottom: 5px groove black;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

.openPostContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.openPostContainer:last-child {
    margin-bottom: 2rem;
}

.postContainer:last-child {
    margin-bottom: 2rem;
}

.tags {
    display: inline-flex;
    border: 1px solid blue;
    margin-right: 0.5rem;
    background-color: lightblue;
    padding: 0.5rem;
}

.filterInput {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5rem;
    text-align: center;
    width: 20%;
}